@tailwind base;
@tailwind components;
@tailwind utilities;

body::before {
  background-image: url('/noise.gif');
  background-repeat: repeat;
  background-position: center center;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  opacity: 0.15;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
}
